@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Abel');
//Colors
$primary-color: #014a81;
$secondary-color: #e5ec12;
$btnprimary: #2c8715;
$btndark: #3ca522;

$faded-primary: #2189d3;
$dark-primary: #003860;

// fonts
$primary-font: 'Anton', sans-serif;
$secondary-font: 'Abel', sans-serif;