footer{
	.map-location{
		width: 100%;
		line-height: 0px;
	}
	.social-icon{
		margin: 0px;
		color: #fff;
		height: 35px;
		font-size: 1.5em;
		.col-md-6{
			background-color: $dark-primary;
			padding-bottom: 5px;
		}
		p{
			padding-top: 5px;
			margin: 0px;
			a{
				color: $secondary-color;
			}
		}
		a{
			color: #fff;
			text-decoration: none;
		}
		i{
			padding-left: 10px;
			transition: 0.5s;
		}
		.fa-facebook:hover{
			color: $faded-primary;
		}
		.fa-youtube:hover{
			color: red;
		}
	}
}
