.navbar{
	margin: 0;
}
.navbar-inverse{
	border: 0;
	border-radius: 0;
	background-color: $primary-color;
	.navbar-brand{
		color: #fff;
	}
	.navbar-nav{
		li a{
			color: #fff;
			text-transform: uppercase;
		}
	}
}
