.navbar{
	margin: 0;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: $primary-color;
}
.navbar-inverse{
	border: 0;
	border-radius: 0;
	background-color: $primary-color;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
	.navbar-brand{
		color: #fff;
	}
	.navbar-nav{
		li a{
			color: #fff;
			text-transform: uppercase;
		}
	}
	.dropdown{
		ul{
			background-color: $primary-color;
			width: fit-content;
		}
		.dropdown-menu li a:hover,:focus{
			color:$primary-color;
			background-color: #fff;
		}
	}
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
}
